.box1{
    margin: 20px;
    border: 5px solid #051d40;
    text-align: center;
}
.box{
    margin: 30px;
    font-size: 36px;
    font-weight: bold;
    color: #051d40;
    text-decoration: none;
}
.imagens{
   margin-left: 590px;
    border: 5px solid #051d40;
}
p{
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}
.titulos{
    font-weight: bold;
    text-align: center;
    color: #051d40 ;
}
.box2{
    margin-bottom:0px;
    margin-left: 60px;
    margin-top: 15px;
    margin-right: 35px;
}