body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
#hcb{
    background-color: #051d40;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 39px;
    text-align: center;
    padding: 10px 0;
    
    
}
.menu ul{
    margin: 10px;
    font-weight: bold;
    color: red;
    border: 2px solid red;
    padding: 10px;
    list-style:none;
}